<p-panel header="Pipes Basicos" class="p-2">
    <p>
        pipes incluidos en Angular - Common Module
    </p>
</p-panel>

<div class="grid mt-2">

    <div class="col-12 md:col-4">
        <p-card header="Pipe number" subheader="totalSells + 2 | number:'1.2-2'">
            {{ totalSells + 2123 | number:'1.2-2' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Pipe currency" subheader="totalSells | currency:'COL':'symbol-narrow':'1.6-6'">
            {{ totalSells | currency:'COL':'symbol-narrow':'1.6-6' }}
        </p-card>
    </div>

    <div class="col-12 md:col-4">
        <p-card header="Pipe Percent" subheader="percent | percent: '1.2-2'">
            {{ percent | percent: '1.2-2' }}
        </p-card>
    </div>

</div>